<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="phpunit-autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
  <testsuites>
    <testsuite name="realistic_dummy_content">
      <directory suffix="Test.php">api/tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
